.body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.navbar {
  background-color: rgb(236, 0, 140);
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 680px;
  background-image: url(dunkindonutsbanner-1587104344.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  bac
}

.content{
  border-radius: 10px;
  background-color: rgb(246,137,3,0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

form{
  border-radius: 10px;
  background-color: rgb(236,0,140,0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#userInfo{
  background-color: rgb(0, 0, 0,0.7) ;
}
.footer{

color: white;
padding: 200px;

}

